<script src="https://apis.google.com/js/platform.js" async defer></script>
<nav class="navbar bg-white">
  <div class="container col-9">
    <a class="display-4 text-decoration-none text-reset text-dark" href="#">
      M Y A P P S 
    </a>
    <a *ngIf="home == false;"  class="text-right btn btn-dark text-white">Logout</a>

    <div class="btn-group">
        <button type="button" class="btn btn-dark text-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Signin
        </button>
        <div class="dropdown-menu dropdown-menu-right bg-dark">
          <button class="dropdown-item bg-dark" type="button"><a class="text-white" href="https://github.com/login/oauth/authorize?client_id=a303fa5e19523e6c9c0b">GitHub</a></button>
        </div>
      </div>
    </div>
  </nav>
  
  <app-login *ngIf="login==true && home == false;" (userHasLoggedIn)=dataFromLogin($event)></app-login>


<router-outlet></router-outlet>

<app-footer></app-footer>